{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<br>
<div class="collection section-template--17151133352233__20286f98-896f-401b-a8b8-b7d5917e5277-padding">
  <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
    <h2 class="title h0">{{section.settings.collection-name}}</h2>
  </div>

  <slider-component class="slider-mobile-gutter page-width page-width-desktop">

    <ul  class="grid product-grid contains-card contains-card--product contains-card--standard grid--4-col-desktop grid--2-col-tablet-down" role="list" aria-label="Slider">
        {% for item  in section.settings.products limit:4  %}    
        <li style="padding: 0 5rem; margin: 0 auto;" class="grid__item">
            <div class="card-wrapper product-card-wrapper underline-links-hover">
                <div class="card card--standard card--media" style="--ratio-percent: 87.5%;">
                    <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 87.5%;">
                        
                        <div class="card__media">
                            {%- comment -%} <div class="media--transparent media--hover-effect">
                            <a href="/products/{{item.title |  replace: ' ', '-'}}">
                                <img src={{item.images | first | img_url:'' }}>
                            </a>
                            </div> {%- endcomment -%}
                            <div class="media media--transparent media--hover-effect">
                                <a href="/products/{{item.title |  replace: ' ', '-'}}">
                                    <img src={{item.images | first | img_url:'' }}>
                                </a>     
                            </div> 
                            
                        </div>
                          
                    </div>
                    <div class="card__content">
                        <div class="card__information">
                            <h3 class="card__heading h5">
                                <a href="/products/{{item.title |  replace: ' ', '-'}}"  style="font-size:1.5rem" class="full-unstyled-link">
                                    {{item.title}}
                                </a>
                            </h3>
                            <div class="card-information">
                                <div class="price price--on-sale">
                                    <div class="price__container">
                                        <div class="price__sale">
                                            <br>
                                            <span>
                                                <s class="price-item price-item--regular">{{item.compare_at_price | money_with_currency}}</s>
                                            </span><br>
                                            <span class="price-item price-item--sale price-item--last">
                                                {{item.price |money_with_currency}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}         
  </slider-component>
</div>
<br>
{% schema  %}
  {
    "name": "collection",
    "settings":[
        {
            "id":"collection-name",
            "type":"text",
            "label":"Collection Name"
        },
        {
            "id":"products",
            "type":"product_list",
            "label":"Select products",
            "limit":4
        } 
    ],
    "presets": [
      {
        "name": "collection",
        "category": "Custom Category"
      }
    ]
  }
{% endschema %} 