<div class="banner">

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">

            <img src={{'banner-1.jpg' | asset_url}} alt="women's latest fashion sale" class="banner-img"> 
            <div class="banner-content">

              <p class="banner-subtitle">Trending item</p>

              <h2 class="banner-title">{{section.settings.itemName1}}</h2>

              <p class="banner-text">
                starting at &dollar; <b>{{section.settings.customBanner1}}</b>.00
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

          <div class="slider-item">

            <img src={{'banner-2.jpg' | asset_url}} alt="modern sunglasses" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending accessories</p>

              <h2 class="banner-title">{{section.settings.itemName2}}</h2>

              <p class="banner-text">
                starting at &dollar; <b>{{section.settings.customBanner2}}</b>.00
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

          <div class="slider-item">

            <img src={{'banner-3.jpg' | asset_url}} alt="new fashion summer sale" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Sale Offer</p>

              <h2 class="banner-title">{{section.settings.itemName3}}</h2>

              <p class="banner-text">
                starting at &dollar; <b>{{section.settings.customBanner3}}</b>.99
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

        </div>

      </div>

    </div>

{% schema %}
  {
    "name": "CustomBanner",
    "settings": [
      {
        "id":"itemName1",
        "type":"text",
        "label":"Title-1"
      },
      {
        "id":"customBanner1",
        "type":"number",
        "label":"Price"
      },
      {
        "id":"itemName2",
        "type":"text",
        "label":"Title-2"
      },
      {
        "id":"customBanner2",
        "type":"number",
        "label":"Price"
      },
      {
        "id":"itemName3",
        "type":"text",
        "label":"Title-3"
      },
      {
        "id":"customBanner3",
        "type":"number",
        "label":"Price"
      }
    ],
    "presets":[
        {
            "name":"CustomBanner",
            "category":"Custom Category"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
    .banner { 
      margin: 30px 0; 
    }

    .banner-content {
    background: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: var(--border-radius-md);
  }

  .slider-item .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }

  .slider-item:last-child .banner-img { object-position: top; }

  .banner-subtitle {
    color: var(--salmon-pink);
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
    --fs-7: 1.625rem;
  }

  /* .banner-subtitle { --fs-7: 1rem; }

  .banner-subtitle { --fs-7: 1.25rem; }

  .banner-subtitle {  } */

  .banner-title {
    color: var(--eerie-black);
    font-size: var(--fs-1);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
  }
  
  .banner-text { display: none; }

  .banner-text {
      display: block;
      color: var(--sonic-silver);
      font-size: var(--fs-7);
      font-weight: var(--weight-500);
      margin-bottom: 10px;
    }
  
    .banner-text b { font-size: var(--fs-2); }

    .banner-text { --fs-7: 1.125rem; }
  
    .banner-text b { --fs-2: 1.875rem; }

    .banner-text { --fs-7: 1.375rem; }

    .banner-btn { --fs-11: 0.875rem; }

    .banner-btn {
    background: var(--salmon-pink);
    color: var(--white);
    width: max-content;
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
  }

  .banner-btn:hover { background: var(--eerie-black); }

  .banner-btn { padding: 7px 20px; }

  .banner-btn { --fs-11: 0.75rem; }

  .slider-item {
      aspect-ratio: auto;
      height: 350px;
    }
  
  .banner-content { max-width: 380px; }

  .slider-item { aspect-ratio: 4 / 2; }
  
  .banner-content { background: none; }

{% endstylesheet %}

{% javascript %} 
 
{% endjavascript %}